* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'segoe ui';
  }
  
  .home-nav{
    width: 1440px;
    height: 586px;
    background-color: #74C69D;
  }

  .nav-links {
    position: absolute;
    left: 1000px;
  }

  .nav-title {
    position: absolute;
    left: 100px;
  }

  .nav {
    height: 50px;
    width: 100%;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

.oq {
  width: 113px;
  height: 20px;
  color: var(--text-white, #FFF);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 20px */
  letter-spacing: 5px;
  text-transform: uppercase;
  position: absolute;
  top: 130px;
  left: 130px;
}
  .oq2 {
    width: 416px;
    color: var(--text-white, #FFF);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Crimson Text;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 125%; 
position: absolute;
left: 130px;
top: 160px;
justify-content: space-between;
  }

  .logo {
    position: absolute;
    top: 150px;
  }
  .oq3 {
    width: 416px;
    color: var(--color-white-75, rgba(255, 255, 255, 0.75));
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 125%;
position: absolute;
top: 300px;
left: 130px;
justify-content: space-between;
  }

  .logo {
width: 644.279px;
height: 378.13px;
flex-shrink: 0;
position: absolute;
left: 666px;
justify-content: space-between;
  }

  .oq4 {
    color: var(--color-green-100, #74C69D);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 125%; 
letter-spacing: 5px;
text-transform: uppercase;
align-items: center;
justify-content: space-between;
  }

  .oq5 {
    color: var(--text-black, #000);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Crimson Text;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 125%; 
align-items: center;
justify-content: space-between;
  }
  .oq6 {
    color: var(--text-black, #000);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 125%;
align-items: center;
justify-content: space-between;
  }

  .logo2 {
display: flex;
justify-content: center;
align-items: center;
gap: 68px;
justify-content: space-between;
  }

  .border1 {
    width: 170px;
    height: 48px;
    border-radius: 5px;
    background: var(--color-dark, #212529);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    margin-bottom: 70px;
    position: absolute;
    top: 1200px;
    left: 1400px;
  }
  
  .more {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
  
  }
  
  .border1:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px black;
  }
  
  .border1:hover span {
    color: black;
  }
  

  .logo4 {
    width: 600px;
height: 431.432px;
flex-shrink: 0;
position: absolute;
left: 650px;
justify-content: space-between;
  }

  .oq7 {
    width: 462px;
    color: var(--color-dark-100, #212529);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Crimson Text;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 125%; 
position: absolute;
left: 1400px;
  }

  .oq8 {
    width: 470px;
height: 75px;
color: var(--color-dark-50, rgba(33, 37, 41, 0.50));
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 125%; 
position: absolute;
left: 1400px;
top: 1100px;
  }

  .oq9 {
    width: 470px;
    color: var(--color-dark-100, #212529);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Crimson Text;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 125%; 
position: absolute;
top: 1550px;
left: 650px;
  }

  .oq10 {
    width: 470px;
height: 75px;
color: var(--color-dark-50, rgba(33, 37, 41, 0.50));
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 125%; 
position: absolute;
top: 1700px;
left: 650px;
  }

  .logo5 {
    width: 600px;
height: 565.732px;
flex-shrink: 0;
position: absolute;
top: 1350px;
left: 1400px;
  }

  .oq11 {
    width: 61px;
    color: var(--color-green-100, #74C69D);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 125%; 
letter-spacing: 5px;
text-transform: uppercase;
align-items: center;
position: absolute;
top: 2000px;
  }

  .oq12 {
    width: 206px;
    color: var(--color-dark-100, #212529);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Crimson Text;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 125%;
align-items: center; 
position: absolute;
top: 2010px;
left: 1250px;
  }

  .oq13 {
    width: 404px;
    color: var(--text-black, #000);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 125%; 
align-items: center;
position: absolute;
top: 2090px;
left: 1150px;
  }

  .logo6 {
    display: flex;
align-items: flex-start;
gap: 47px;
position: absolute;
top: 2200px;
left: 732px;
  }

  .span3 {
    width: 170px;
height: 48px;
flex-shrink: 0;
border-radius: 5px;
background: var(--color-dark, #212529);
position: absolute;
top: 2600px;
left: 1235px;
  }

  .span2 {
    color: #FFF;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 125%; 
display: flex;
justify-content: center;
align-items: center;
  }

  .second {
    width: 1440px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #74C69D;
    position: absolute;
    top: 2750px;
}

.orta2 {
    width: 1178px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo15 {
    width: 243px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

h6 {
    color: var(--color-white-100, #FFF);
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    margin-top: 20px;
}

.span4 {
  width: 170px;
height: 48px;
flex-shrink: 0;
border-radius: 5px;
background: var(--color-dark, #212529);
position: absolute;
left: 730px;
top: 1800px;
}

.span5 {
  color: #FFF;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 125%; 
justify-content: center;
align-items: center;
display: flex;
}

.span6 {
  width: 170px;
height: 48px;
flex-shrink: 0;
border-radius: 5px;
background: var(--color-dark, #212529);
position: absolute;
left: 1440px;
top: 1200px;
display: flex;
}

.span7 {
  color: #FFF;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 125%; 
justify-content: center;
align-items: center;
display: flex;
}

.border77 {
  width: 170px;
  height: 48px;
  border-radius: 5px;
  background: var(--color-dark, #212529);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  margin-bottom: 70px;
  position: absolute;
  top: 400px;
  left: 150px;
}

span {
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;

}

.border77:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px black;
}

.border77:hover span {
  color: black;
}

.p888 {
  justify-content: space-between;
}

.border11 {
  width: 170px;
  height: 48px;
  border-radius: 5px;
  background: var(--color-dark, #212529);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  margin-bottom: 70px;
  position: absolute;
  top: 1800px;
  left: 650px;
}

.span1 {
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;

}

.border11:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px black;
}

.border11:hover span {
  color: black;
}


.border100 {
  width: 170px;
  height: 48px;
  border-radius: 5px;
  background: var(--color-dark, #212529);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  margin-bottom: 70px;
  position: absolute;
  top: 2600px;
  left: 1250px;
}

.span200 {
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;

}

.border1:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px black;
}

.border1:hover span {
  color: black;
}
